header {
    display: flex;
    background-color:black;
    justify-content: space-between;
    padding: 6px;
}

h1 {
    color: aliceblue;

}

.section1 {
    border: 2px solid black;
}

.rodape {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.section2 {
    display: flex;
    justify-content: space-between;
    padding: 6px;
}
